@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');


.LogoText {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite; /* 5s = slower, adjust as needed */
}